.navbar-transparent {
  background-color: rgba(37,40,39,0.4);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: rgba(37,40,39);
  line-height: 50px;
 
}

.navbar .navbar-default .navbar-transparent {
	margin-bottom: 0px;

	}


.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(37,40,39,0.4);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 50px;
      font-size: 20px;
}


.navbar-transparent .navbar-brand, .navbar-transparent .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#background-global {background-color: rgb(37,40,39);
					margin: 0px;
					width: 100%;
					height: 100%;}



#btn-div { margin-right: 20%;
			margin-left: 20%;
 }

#text-block {width: 60%;
			height: 100%;
			background-color: white;
			border-top-left-radius: 5%;
			border-top-right-radius: 5%;
			margin-left: 20%;
			margin-right: 20%;
			margin-top: 50px;
			padding-right: 30px;
			padding-left: 30px;
			padding-top: 50px;
			padding-bottom: 50px;
			font-size: 18px;
			text-align: justify;

}

#profil {border-radius: 100%;
		border: solid rgb(242,73,86) 2px;
		margin-left: 0px;   }
		




.btn {font-size: 20px;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 15px;
	padding-right: 20px;

}

.btn-cv { background-color: rgba(37,40,39,0.3);
			border: solid white 2px;
 }

.btn-rose { background-color: rgb(242,73,86);
			border: rgb(242,73,86); }

.btn-rose:hover {background-color:rgb(209,63,74);
				border:rgb(186,56,66);}

.col-md-4 { 
			margin-right: 0px;  }

.col-md-8 { }


#background {background:url('back.jpg') no-repeat;
					background-attachment: fixed;
}





footer {
			height: auto;
			background-color: rgba(0, 0, 0, 0.5);
			color: #C0CBD1;
			border-top:  1px solid grey; 

			padding-right: 20px; 
			padding-left: 40px;
			font-family: "open sans", sans-serif; 
			font-weight: 300

		}


ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;}


.title-footer { color: white;
				padding-bottom: 30px;
				font-weight: bolder;
				border-bottom: 1px solid #C0CBD1;
				}

.footer-content {margin-left: 0px;
					padding-left: 0px; }

 

.footer-content:hover { text-decoration: underline;
 						 }


#div-body {
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 5%;
  font-size: 15px;
  font-family: "open+sans", sans-serif;
  color: #eee9dc;
  background: #48b379;
}

#div-body-2 {
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 5%;
  font-size: 15px;
  font-family: "open+sans", sans-serif;
  color: #eee9dc;
  background: #F24856;
  margin-bottom: 0px;
}

h1 { text-align: center;
	color: rgb(242,73,86); 
	font-size: 100px;
   font-weight: 800;}

h2 {
  margin: 3em 0 0 0;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  margin: 3em 0 0 0;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  padding-top: 100px;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
}

h5 {font-weight: 300; 
	margin-top: 150px;
	font-family: "open+sans", sans-serif;
	font-size: 30px;
	text-align: center;
	letter-spacing: 2px;
	color: black;
}


/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #eee9dc;
}
#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #48b379;
  border: 5px solid #eee9dc;
  border-radius: 50%;
  display: block;
  position: absolute;
}



.circle-2 {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #F24856;
  border: 5px solid #eee9dc;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}


.content:after {
  border-right-color: #48b379;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}

.content-2:after {
  border-right-color: #F24856;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}

.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}


label {
  font-size: 1.3em;
  font-weight: 400;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
}

label:hover {
  
  text-decoration: underline;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #f98262;
}
.radio:checked ~ .content {
  max-height: 180px;
  border-color: #eee9dc;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #eee9dc;
  transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 50px 0;
  }

  label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  .content {
    padding-top: 45px;
    border-color: #eee9dc;
  }
  .content:before, .content:after {
    border: solid transparent;
    bottom: 100%;
  }
  .content:before {
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }
  .content:after {
    border-bottom-color: #48b379;
    border-width: 20px;
    top: -20px;
    left: 50px;
    margin-left: -20px;
  }
  .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .circle, .date {
    display: none;
  }
}

a{ color: white;
		}

#skills{ width: 100%;
	height: auto;
	background-color: #F6F6F6;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 41.1px;
	padding-right: 41.1px;

}


body { background: #E9E5E2 ; }

#skill { 
	list-style: none;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 296px;
	margin: 10px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}

#skill li { 
	margin-bottom:50px; 
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:20px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}

#skill li h3 { 
	position:relative; 
	top:-25px;
}

.bar { 
	height:18px; 
	margin:1px 2px;  
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.graphic-design {
	width:90%; 
	-moz-animation:graphic-design 2s ease-out;
	-webkit-animation:graphic-design 2s ease-out;
	background-color: #f674a4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
	background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
	background-image: -moz-linear-gradient(top, #f674a4, #e06995);
	background-image: -ms-linear-gradient(top, #f674a4, #e06995);
	background-image: -o-linear-gradient(top, #f674a4, #e06995);
	background-image: linear-gradient(top, #f674a4, #e06995);
}

.html-css {
	width:95%;
	-moz-animation:html-css 2s ease-out;
	-webkit-animation:html-css 2s ease-out;
	background-color: #f0bb4b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
	background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.jquery {
	width:100%;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
	background-color: #a1ce5b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
	background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: linear-gradient(top, #a1ce5b, #91ba52);
}


.indesign {
	width:40%;
	-moz-animation: indesign 2s ease-out;
	-webkit-animation:indesign 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
	background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: linear-gradient(top, #66b3cc, #5da3ba)	
}


.wordpress {
	width:35%;
	-moz-animation:wordpress 2s ease-out;
	-webkit-animation:wordpress 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
	background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: linear-gradient(top, #66b3cc, #5da3ba)	
}

@-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width: 90%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:95%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes wordpress   { 0%  { width:0px;} 100%{ width:35%;}  }
@-moz-keyframes indesign   { 0%  { width:0px;} 100%{ width:40%;}  }

@-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:95%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes wordpress   { 0%  { width:0px;} 100%{ width:35%;}  }
@-webkit-keyframes indesign   { 0%  { width:0px;} 100%{ width:40%;}  }


#competence-block {background-color: #BABABA;
	height: 100%

}

#competence-title { color: white; }

#competence-block { color: white; 
font-size: 20px;}

#mes-competences-title { margin-bottom: 90px; }

#bullet-point{ padding-left: 100px; }


.row {margin-bottom: 0px;

}



#interet { background-color: #4ECAED;
            width: 100%; 
            height: auto;
            margin : 0px;
            padding-bottom: 150px;
}

#interet-title {
  color: white;
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.carre{
  width:100px;
  height:100px;
  background:rgba(0,0,0,0);
  border : solid white 5px;
  margin-right: 20px;
  margin-left: 20px;

}

#guitare: { border : solid white 5px;
  border-radius: 100%;
 }

.text-interet { text-align: center;
                color: rgba(0,0,0,0); }
.text-interet:hover { text-align: center;
                color: white; }

